@media (min-width:370px){
    #contactForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #f4f4f4;

        h3{
            color: #000;
            font-size: 2rem;
            padding: 1rem 0;
            font-weight: 550;
        }
        p{
            font-size: 1.4rem;
            color: #4d71be;
            font-weight: 550;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #fff;
            border-radius: 2rem;
            padding: 1.5rem;
            margin: 1rem 0;
            .formStructureTwoinputsVariation{
                display: flex;
                flex-direction: row;
                padding: .5rem;
                div{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    svg{
                        margin: 1rem 0;
                    }
                }
            }
            label{
                font-size: 1.3rem;
                color: #808080;
            }
            #divButtonEnviar{
                display: flex;
                flex-direction: row;
                justify-content: center;
                button{
                    margin: 1rem 0;
                    padding: .5rem 1.5rem;
                    transition: .3s;
                }
                button:hover{
                    background-color: #0d6efd;
                    color: #fff;
                }
            }
        }
    }

}

@media (min-width:768px){
    #contactForm{
        form{
            width: 70%;
        }
    }
}

@media (min-width:1200px){
    #contactForm{
        form{
            width: 70%;
        }
    }
}

