html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

/*  RESETS  */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    background-color: #faf4f4;
}

.inputColor {
    border: .1rem solid #9c9c9c;
}

/* #bodyNav{

} */

#bodyUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    background: #1f3963;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-bottom: .1rem;
}

.bU-li {
    font-size: 2.2rem;
    font-weight: 600;
}

.bU-li:hover{
    background: #fff;
    border-radius: 2rem;
}

.bU-lA {
    padding: 1rem 3rem;
    text-decoration: none;
    color: #fff;
    width: max-content;
    height: max-content;
}

.bU-lA:hover {
    color: #1f3963;
}

#boxBody {
    background-color: #faf4f4;
    width: auto;
}


#titulo {
    font-size: 3rem;
}


#formStructureDIV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4d71be;
}

#formStructure {
    width: 30%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1.5rem;
    margin: 2rem 0;
}

#formStructureHead {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

#formStructureInputDiv {
    width: 40%;
}

.formStructureHeadInput {
    padding: 0 1rem;
    border-radius: 1rem;
    margin: 0 2rem 0 0;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}

.formStructureDiv {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.formHeaders {
    font-size: 2rem;
    font-weight: 700;
}

#formStructureH3 {
    color: #4d71be;
}

.formStructureTwoinputs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 1.5rem 1rem;
}

.mb-3 {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 95%;
    margin: 0 !important;
}

.form-control {
    padding: 1rem;
}

.formStructureTwoinputsVariation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 1.5rem 1rem;
}

.formStructureTwoinputsDateOfBirth {
    display: flex;
    flex-direction: column;
}

#fechaNacimiento {
    padding-left: 1rem;
}

.dropdownModifiers {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.dropdownModifiers button {
    width: 95%;
}

.dropdown-toggle:hover {
    background-color: #0d6efd;
}

.dropdown-toggle:focus {
    background-color: #0d6efd;
}

.btn {
    padding: .4rem;
    font-size: 1.3rem;
    background-color: #1f3963;
    border-radius: 1rem;
}


.dropdown-menu {
    font-size: 1.5rem;
}

.formEmailPhone {
    display: flex;
    flex-direction: column;
}

.formEmailPhoneInputs {
    width: 100%;
    padding: 1.5rem 1rem;
}

#inputCheckBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#iC-label {
    margin: 0 1.5rem;
    font-size: 1.5rem;
}

#inputSubmitDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#inputSubmit {
    margin: 1rem 1rem 0 1rem;
    font-size: 1.6rem;
    width: 70%;
    padding: .5rem;

}

/*   ----------------     */

/* MOSTRAR RESULTADO */
#mostrarResultado {
    display: flex;
    flex-direction: column;

}

.parrafoResultado {
    font-size: 2rem;
    text-align: center;
}

#botonResultado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitResultado {
    width: auto;
    text-align: center;
    padding: 1rem;
}

#showDefaultLoansDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showDefaultLoans {
    padding: 1rem;
    font-size: 1.5rem;
    width: fit-content;
}

.showDefaultLoans {
    width: fit-content;
    margin: 2rem;
    padding: 1rem;
}

#hideDefaultLoansDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hideDefaultLoans {
    display: none;
}

#showDefaultLoansHTML {
    background-color: aliceblue;
    width: 100%;
}

#showDefaultLoansHTML h2 {
    font-size: 2.5rem;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
}

#showDefaultLoansHTML section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2rem;

}

#threeInputsDiv {
    display: none;
    justify-content: space-around;
}

.threeInputs {
    padding: 1rem;
    flex-direction: row;
}