@media (min-width:370px) {

    .loan__contact {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .loan__contact-seccion_inicial {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 2rem;
    }

    .loan__contact-seccion_inicial h2,
    h3 {
        margin-bottom: 2rem;
    }

    .loan__contact-form {
        width: 35rem;
        border-radius: 3rem;
        padding: 1rem 3rem;
        box-shadow: .5rem .5rem 1.5rem #3d3d3d;
        border-bottom: .1rem solid white;
        border-top: .1rem solid white;
        margin-bottom: 2rem;
    }

    .loan__contact-form div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 2rem 0 4rem 0;
        border-radius: 2rem;
    }

    .loan__contact-form svg {
        background: #fff;
        width: 4rem;
        height: 3.5rem;
        margin-right: 1rem;
        padding: .5rem;
        border-radius: 52rem;
    }

    .loan__contact-form input {
        padding: 1rem;
        border-radius: 1rem;
    }

    .loan__contact-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .loan__contact-button button {
        background: #fff;
        color: #000830;
        outline: none;
        border: .1rem solid #fff;
        border-radius: 2rem;
        padding: .5rem 3rem;
        transition: all .5s ease;
    }

    .loan__contact-button button:hover {
        background-color: #000830;
        color: #fff;
    }

    /* FOOTER */
    .loan__contact-footer {
        border-top: .1rem solid #868686;
        position: sticky;
        padding-top: .5rem;
    }

    .loan__contact-footer_logo {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
    }

    .loan__contact-footer_logo a {
        width: max-content;
        margin-right: 1rem;
    }

    .loan__contact-footer_logo img {
        width: 4rem;
    }

    .loan__contact-footer p {
        font-size: .9rem;
        padding: 0 1rem;
        color: #545454;
    }

}



@media (min-width:680px) {
    .loan__contact-footer {
        position: absolute;
        bottom: 0;
    }

    .loan__contact-form {
        width: 45rem;
    }

    .loan__contact-button {
        margin: 1rem 0;
    }
}

@media (min-width:900px) {
    .loan__contact-form div {
        margin: 1.5rem 0 4.5rem 0;
    }
}

@media (min-width:1200px) {
    .loan__contact-form {
        width: 55rem;
    }

    .loan__contact-form div {
        margin: 1.5rem 0 5rem 0;
    }
}