@media (min-width:370px) {

    .loan__cotizaciones {
        padding: 1rem 2rem;
    }

    .loan__cotizaciones-dolares {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #inputDolarBlue {
        margin-bottom: 2rem;
        box-shadow: .5rem .5rem 1.5rem #3d3d3d;
        border-bottom: .1rem solid white;
        border-top: .1rem solid white;

    }

    .loan__cotizaciones-dolares div {
        width: 33rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: 2rem;
        padding: 2rem;
    }

    .loan__cotizaciones-dolares h3 {
        font-size: 2rem;
        padding: .6rem 1.5rem;
        border-radius: 2rem;
        color: #000830;
        font-weight: 600;
        background: #fff;
        text-align: center;
    }

    .loan__cotizaciones-dolares h4 {
        color: #fff;
        font-size: 1rem;
        text-align: center;
    }

    .loan__cotizaciones-dolares p {
        color: #44cd87;
        text-align: center;
    }

    .loan__cotizaciones-dolares section {
        text-align: center;
        box-shadow: .5rem .5rem 1.5rem #3d3d3d;
        border-bottom: .1rem solid #fff;
        border-radius: 2rem;
        margin-bottom: 2rem;
    }

    .loan__cotizaciones-dolares_blue {
        width: 100%;
        margin: 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .loan__cotizaciones-dolares_blue section {
        box-shadow: none;
        border-bottom: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .loan__cotizaciones-dolares_blue div {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .loan__cotizaciones-dolares_blue h5 {
        color: #fff;
    }

    .loan__cotizaciones-dolares_bancos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        overflow-x: hidden;

    }

    .loan__cotizaciones-criptomonedas {
        border-top: 1px solid white;
        box-shadow: .5rem .5rem 1.5rem #3d3d3d;
        border-radius: 3rem;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loan__cotizaciones-criptomonedas h2 {
        background: #fff;
        color: #000830;
        border-radius: 3rem;
        width: 18rem;
        padding: .5rem 0;
        font-size: 2rem;
    }

    .loan__cotizaciones-criptomonedas p {
        color: #fff;
        text-align: center;
    }

    .loan__cotizaciones-criptomonedas_input {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .loan__cotizaciones-criptomonedas_input input {
        width: 30%;
        border-radius: 2rem;
        margin-top: 1rem;
    }

    .loan__cotizaciones-criptomonedas_mostrar {
        background: #44cd87;
        width: 100%;
        border-radius: 2rem;
    }

    .loan__cotizaciones-criptomonedas_mostrar-ventanas {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .loan__cotizaciones-criptomonedas_mostrar-section {
        border-bottom: .1rem solid #fff;
        margin-bottom: 1rem;
        box-shadow: .5rem .5rem 1.5rem #3d3d3d;
        margin: 1rem;
    }

    .loan__cotizaciones-criptomonedas_mostrar-section li {
        color: #44cd87;
        width: 15rem;
    }

    .loan__cotizaciones-criptomonedas_mostrar-ventanas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .loan__cotizaciones-criptomonedas_mostrar div {
        border-radius: 2rem;
        padding: .5rem;
        background: #000830;
        color: #fff;
        text-align: center;
    }


}