@media (min-width: 480px) {
  /* RESPONSIVE NAVBAR */
  #navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #1f3963;
    display: flex;
    flex-direction: row;
  }
  #navbar img {
    width: 100%;
  }
  .navbar container-fluid {
    flex-wrap: wrap;
  }
  .navbar-button {
    background-color: #faf4f4;
  }
  .container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    justify-content: center;
    background: #1f3963;
    padding: 1rem;
    width: 70%;
    text-align: left;
  }
  .container-fluid h1 {
    color: #faf4f4;
  }
  #container-fluid-div-img {
    width: 14%;
    padding: 0;
    margin: auto;
  }
  .nav-item {
    padding: 0.5rem;
  }
  .nav-link {
    transition: none;
  }
  .navBarText {
    font-size: 1.8rem;
    color: #fff;
    padding: 0rem 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    transition: 0.3s;
    border-radius: 1.5rem;
  }
  .navBarText:hover {
    background-color: #fff;
    color: #1f3963 !important;
  }
  /* RESPONSIVE BODY */
  .boxBody {
    background-color: #faf4f4;
  }
  #bB-homeDiv-A {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf4f4;
    padding: 2rem 1rem;
  }
  #bB-homeDiv-A h2 {
    text-align: center;
    padding: 1rem;
    color: #274980;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 650;
  }
  #bB-homeDiv-A p {
    text-align: center;
    padding: 0 0.5rem;
    font-weight: 450;
    font-size: 1.5rem;
  }
  #bB-homeDiv-A section {
    background-color: #faf4f4;
    width: 100%;
  }
  #bB-homeDiv-A img {
    width: 100%;
  }
  .bB-hD-sImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../src/assets/imgs/lending8.jpg");
    padding: 10rem;
  }
  .bB-hD-sImage p, .bB-hD-sImage h3 {
    color: #fff;
    text-align: center;
  }
  .bB-hD-sImage button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #fff;
    color: #1f3963;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  #bB-homeDiv-B {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bB-homeDiv-B section h3 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #274980;
  }
  #bB-homeDiv-B section img {
    width: 100%;
    border: 0.1rem solid #274980;
    border-radius: 100%;
    background: #fff;
    margin: 1.5rem 0 0 0;
    transition: 0.3s;
  }
  #bB-homeDiv-B section img:hover {
    background-color: #1f3963;
  }
  #bB-homeDiv-B p {
    font-size: 1.5rem;
    color: #808080;
    text-align: center;
    font-weight: 500;
  }
  #carouselHome {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .cH-Section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .cH-Section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background: #faf4f4;
  }
  .cH-Section a img {
    width: 100%;
  }
  #cH-3 {
    margin: -2.5rem 0 0 0;
  }
  #cH-4 {
    margin: -2rem 0 0 0;
  }
  #bB-homeDiv-C {
    width: 100%;
    margin: 1rem 0rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bB-homeDiv-C img {
    width: 100%;
  }
  #bB-homeDiv-C h3 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #274980;
    padding: 2rem 0rem;
  }
  #bB-homeDiv-C p {
    text-align: center;
    font-size: 1.8rem;
    color: #808080;
    font-weight: 500;
  }
  #bB-homeDiv-C button:hover {
    background-color: #5b5995;
  }
  #bB-homeDiv-C a {
    text-decoration: none;
    color: #fff;
  }
  #btn2-480-hD-C {
    font-size: 2rem;
    width: 45%;
    text-align: center;
    margin: 0 0 2rem 2.5rem;
    transition: 0.3s;
  }
  #btn1-480-hD-C {
    display: none;
  }
  .bB-hD-sImage-B {
    width: 7%;
    margin: 2rem;
  }
}
footer {
  background-color: #1f3963;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
}
footer div {
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  padding: 0 2rem;
}
footer div h2 {
  color: #faf4f4;
}
footer div img {
  width: 100%;
}
footer section {
  margin: 2rem 0;
  padding: 0.1rem;
  background: #faf4f4;
  width: 85%;
}

#fD-div {
  display: flex;
}
#fD-div p {
  color: #808080;
}

@media (min-width: 768px) {
  #navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #1f3963;
    display: flex;
    flex-direction: row;
  }
  #navbar img {
    width: 75%;
  }
  #bB-homeDiv-A p {
    font-size: 1.7rem;
  }
  #bB-homeDiv-C {
    display: flex;
    flex-direction: row-reverse;
  }
  #bB-homeDiv-C div h3 {
    font-size: 4rem;
    text-align: center;
    padding: 0 2rem;
  }
  #bB-homeDiv-C div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  #btn1-480-hD-C {
    display: flex;
    font-size: 2rem;
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    transition: 0.3s;
  }
  #btn1-480-hD-C a {
    width: 100%;
  }
  #btn2-480-hD-C {
    display: none;
  }
  #carouselHome {
    display: flex;
    flex-direction: row;
  }
  #cH-3 {
    margin: 0 0 0 0;
  }
  #cH-4 {
    margin: -1.5 0 0 0;
  }
}
@media (min-width: 1200px) {
  #navbar img {
    width: 50%;
  }
  .cH-Section {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }
  .cH-Section a img {
    width: 50%;
  }
  .cH-Section a #cH-4 {
    width: 85%;
  }
  #bB-homeDiv-A p {
    font-size: 1.7rem;
  }
  #bB-homeDiv-A section img {
    width: 100%;
    height: 50% !important;
  }
}/*# sourceMappingURL=home.css.map */