@import url('./variables.css');

@media (min-width:370px) {
    .loan__home {
        border: 1px solid white;
    }

    .loan__home-seccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .loan__home-seccion section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5rem 3rem;
        text-align: justify;
    }

    .loan__home-seccion h2 {
        font-size: 4rem;
        text-transform: uppercase;
        background-image: linear-gradient(to right, #d400ff, #02d5fa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        text-align: center;
    }

    .loan__home-seccion p {
        color: #fff;
    }
}